@model IEnumerable<ConnectIn.Models.ViewModels.BirthdayViewModel>

@{
    ViewBag.Title = "Birthdays";
}

@if (Request.IsAuthenticated)
{

    <div class="container">
        <h2>Birthdays</h2>
        <h3>Today is @DateTime.Today.ToString("dddd, MMMMM d", System.Globalization.CultureInfo.CreateSpecificCulture("en-US"))@string.Format("{1} {0:yyyy}", DateTime.Now, (DateTime.Now.Day%10 == 1 && DateTime.Now.Day != 11) ? "st"
                                                                                                                  : "th") </h3>
        <div id="posts" class="row">
                @foreach (var item in Model)
{
    <div class="post item span3" style="position:relative">
        <div class="well" id="FriendsListWell">
            <div class="friendsListPhoto">
                <a href="/Home/Profile/@item.User.UserId"><img class="img-responsive img-rounded smallPhoto" src="@Url.Content(item.User.ProfilePicture)" alt="Profile Picture" /></a>
            </div>
            <div class="friendsListAbout">
                <div class="friendsListName">
                    <h2 class="friendsListName">
                        @Html.ActionLink(item.User.Name, "Profile", new {id = item.User.UserId})
                    </h2>
                </div>
                <span>
                        @item.User.Birthday.Date.ToString("dd/MM/yyyy")
                </span>
            </div>
        </div>
        <div id="birthdayMarginAgeAbsolute">
            <span id="huge"> @String.Format("{0}", DateTime.Today.Year - item.User.Birthday.Year) years old</span>
        </div>
    </div>
}
            </div>
        </div>
    
    
}
else
{
<h1 id="loginSignUpMessage">
    Please log in or sign up to access your News Feed.
</h1>
}
