@model IEnumerable<ConnectIn.Models.ViewModels.FriendViewModel>
@using ConnectIn.DAL
@using ConnectIn.Services
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "FriendsList";
}

@if (Request.IsAuthenticated)
{
   <div class="container">
       <h2>Friends</h2>
   <div id="posts" class="row">

       @foreach (var item in Model)
       {
           <div class="post item span3">
               <div class="well" id="FriendsListWell">
                   <div id="postContent">
                           <!--Should display user's profile picture, a cat was used temporarily-->
                       <div class="friendsListPhoto">
                           <img class="img-responsive img-rounded pull-left" src="@Url.Content(item.User.ProfilePicture)" alt="Profile Picture" />
                       </div>
                       <!--Should display username instead of item.userID-->
                       <div class="friendsListAbout">
                           <div class="friendsListName">
                               <h2>
                                   @Html.ActionLink(item.User.Name, "Profile", new { id = item.User.UserId })
                               </h2>
                           </div>
                           <div id="addFriendButton">
                               @{
                                   using (Html.BeginForm("Remove", "Friend"))
                                   {
                                       <input type="hidden" name="userId" value="@User.Identity.GetUserId()"/>
                                       <input type="hidden" name="friendId" value="@item.User.UserId"/>
                                       <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-minus"></span>&nbsp;Remove friend</button>
                                   }
                               }
                           </div>
                           <table class="tableFriends">
                               <tbody>
                                   <tr>
                                       <td class="glyphicon glyphicon-briefcase tableItem">
                                           Work
                                       </td>
                                       <td class="glyphicon workFriendsList tableItemInfo">
                                           <span>@string.Format("{0}", item.User.Work)</span>
                                       </td>
                                   </tr>
                                   <tr>
                                       <td class="glyphicon glyphicon-pencil tableItem">
                                           School
                                       </td>
                                       <td class="glyphicon schoolFriendsList tableItemInfo">
                                           <span>@string.Format("{0}", item.User.School)</span>
                                       </td>
                                   </tr>
                               </tbody>
                           </table>
                       </div>
               </div>
            </div>
           </div>
       }
   </div>
       </div>
}
else
{
    <h1 id="loginSignUpMessage">
        Please log in or sign up to access your News Feed.
    </h1>
}








