@model IEnumerable<ConnectIn.Models.ViewModels.PostsViewModel>

@{
    ViewBag.Title = "NewsFeed";
}
@if (Request.IsAuthenticated)
{ 
    <h2>News Feed</h2>

    <!--Filters for the news feed-->
    <ul class="nav nav-justified newsFeedFilters">
        <li><a href="#">Everyone</a></li>
        <li><a href="#">Best friends</a></li>
        <li><a href="#">Family</a></li>
    </ul>

    <div>
    @using (Html.BeginForm("AddPost", "Status"))
    {
        <div class="form-horizontal">
            <textarea placeholder="Share your thoughts" class="form-control" rows="5" id="newsfeedstatus" name="status" style="max-width: 100%; display: inline"></textarea>
            <button type="submit" id="submitstatus" class="btn btn-primary" style="float: right; margin-top: 10px;">Submit</button>
        </div>
        @Html.ValidationSummary(false)
    }
    </div>

    <div style="margin-top: 80px;">
    @foreach (var item in Model)
    {
        <div class="well">
            <div id="postContent">
                <h3>
                    <!--Should display user's profile picture, a cat was used temporarily-->
                    <span class="smileyFace">
                        <img src="@Url.Content("~/Content/images/profilepic.png")" alt="Profile Picture" />
                    </span>
                    <!--Should display username instead of item.userID-->
                    @Html.ActionLink(item.User.UserName, "Profile", new {id = item.User.UserId}) <small class="pull-right">@Html.DisplayFor(modelItem => item.DateInserted)</small>
                </h3>
                <p>
                    @item.Body
                </p>
            </div>

            <div id="commentsLikesDeleteDiv">
                <div id="commentsAndLikes">
                    <div id="reactionButtons">
                        <a href="#" class="btn btn-default-like">2 Smiles</a>
                        <a href="#" class="btn btn-default-dislike">2 Sadfaces</a>
                        <a href="#" class="btn btn-default-comment">Comments</a>
                        <a href="#" class="btn btn-danger deletePostButton">Delete post</a>
                    </div>
                </div>
            </div>
        </div>
    }
    </div>
}
else
{
    <h1 id="loginSignUpMessage">
        Please log in or sign up to access your News Feed.
    </h1>
}
