@model IEnumerable<ConnectIn.Models.ViewModels.PostsViewModel>


<div style="margin-top: 80px;">
    @foreach (var item in Model)
    {
        <div class="well">
            <div id="postContent">
                <h3>
                    <!--Should display user's profile picture, a cat was used temporarily-->
                    <span class="smileyFace">
                        <img src="@Url.Content(item.User.ProfilePicture)" alt="Profile Picture" />
                    </span>
                    <!--Should display username instead of item.userID-->
                    @Html.ActionLink(item.User.UserName, "Profile", new { id = item.User.UserId }) <small class="pull-right">@Html.DisplayFor(modelItem => item.DateInserted)</small>
                </h3>
                <p>
                    @item.Body
                </p>
            </div>

            <div id="commentsLikesDeleteDiv">
                <div id="commentsAndLikes">
                    <div id="reactionButtons">
                        @using (Html.BeginForm("Like", "Status", new { postId = item.PostId }))
                        {
                            <button type="submit" class="btn btn-default-like">@item.LikeDislike.Likes Smiles</button>
                        }
                        @using (Html.BeginForm("Dislike", "Status", new { postId = item.PostId }))
                        {
                            <button type="submit" class="btn btn-default-dislike">@item.LikeDislike.Dislikes Sadfaces</button>
                        }
                        @using (Html.BeginForm("AddComment", "Status", new { postId = item.PostId }))
                        {
                            <button type="submit" class="btn btn-default-comment">Comment</button>
                        }
                        @using (Html.BeginForm("RemovePost", "Status", new {postId = item.PostId}))
                        {
                            <button type="submit" class="btn btn-danger deletePostButton">Delete Post</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>
