@using ConnectIn.DAL
@using ConnectIn.Services
@using Microsoft.AspNet.Identity
@model ConnectIn.Models.ViewModels.ProfileViewModel

@{
    ViewBag.Title = "NewsFeed";
}
@if (Request.IsAuthenticated)
{
    <div class="container">
        <div class="well" id="ProfileWell">
            <div id="userProfilePicture">
                <a href="/Home/UploadImage"><img class="img-responsiveProfilePic img-rounded " src="@Url.Content(Model.User.ProfilePicture)" alt="Profile Picture" /></a>
            </div>
            <div id="userNameOnProfile">
                <div>
                    <h1>
                        @Html.ActionLink(Model.User.Name, "Profile", new { id = Model.User.UserId })
                    </h1>
                </div>

                <div class="well" id="aboutUser">
                    <table class="tableFriends">
                        <tbody>
                            <tr>
                                <td class="glyphicon glyphicon-user tableItem">
                                    Gender
                                </td>
                                <td class="glyphicon profileGender tableItemInfo">
                                    <span>@string.Format("{0}", Model.User.Gender)</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="glyphicon glyphicon-gift tableItem">
                                    Birthday
                                </td>
                                <td class="glyphicon profileBirthday tableItemInfo">
                                    <span>@string.Format("{0}.{1}.{2}", Model.User.Birthday.Day, Model.User.Birthday.Month, Model.User.Birthday.Year)</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="glyphicon glyphicon-briefcase tableItem">
                                    Work
                                </td>
                                <td class="glyphicon workFriendsList tableItemInfo">
                                    <span>@string.Format("{0}", Model.User.Work)</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="glyphicon glyphicon-pencil tableItem">
                                    School
                                </td>
                                <td class="glyphicon schoolFriendsList tableItemInfo">
                                    <span>@string.Format("{0}", Model.User.School)</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="glyphicon glyphicon-home tableItem">
                                    Address
                                </td>
                                <td class="glyphicon workFriendsList tableItemInfo">
                                    <span>@string.Format("{0}", Model.User.Address)</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span><button id="buttonedit" type="button" class="btn btn-link">@Html.ActionLink("Edit", "Edit", "Account")</button></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div id="PhotoButton">
                    @using (Html.BeginForm("Images", "Home", new { userId = Model.User.UserId }))
                    {
                        <button type="submit" class="btn btn-primary">Photos</button>
                    }
                </div>

                <div id="addFriendButton">
                @{
                    if (Model.User.UserId != User.Identity.GetUserId())
                    {
                        var context = new ApplicationDbContext();
                        var userService = new UserService(context);
                        var listOfFriends = userService.GetFriendsFromUser(User.Identity.GetUserId());
                        var notification = userService.GetIfFriendRequestIsPending(User.Identity.GetUserId(), Model.User.UserId);
                        if (notification != null)
                        {
                            <button type="button" class="btn">Pending</button>
                        }
                        else if (listOfFriends.Contains(@Model.User.UserId))
                        {
                            using (Html.BeginForm("Remove", "Friend"))
                            {
                                <input type="hidden" name="userId" value="@User.Identity.GetUserId()"/>
                                <input type="hidden" name="friendId" value="@Model.User.UserId"/>
                                <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-minus"></span>&nbsp;Remove friend</button>
                            }
                        }
                        else
                        {
                            using (Html.BeginForm("Add", "Friend"))
                            {
                                <input type="hidden" name="userId" value="@User.Identity.GetUserId()"/>
                                <input type="hidden" name="friendId" value="@Model.User.UserId"/>
                                <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>&nbsp;Add friend</button>
                            }
                        }
                    }
                }
                </div>
            </div>
        </div>



        <div id="profileborder"></div>
    </div>


    {
        Html.RenderPartial("PostsPartial", Model.NewsFeed);
    }
}
else
{
    <h1 id="loginSignUpMessage">
        Please log in or sign up to access Profile.
    </h1>
}
