@using ConnectIn.DAL
@using ConnectIn.Services
@using Microsoft.AspNet.Identity
@model ConnectIn.Models.ViewModels.ProfileViewModel

@{
    ViewBag.Title = "NewsFeed";
}
@if (Request.IsAuthenticated)
{
    <div class="well">
        <div id="userProfilePicture">
            <img src="@Url.Content(Model.User.ProfilePicture)" alt="Profile Picture" />
        </div>
        <div id="userNameOnProfile">
            <div>
                <h1>A random user's profile</h1>
            </div>

            <div class="well" id="aboutUser">
                <div class="glyphicon glyphicon-user personalInfoGlyphs">&nbsp;Gender: @Model.User.Gender</div>
                <div class="glyphicon glyphicon-gift personalInfoGlyphs">&nbsp;Birthday: @Model.User.Birthday</div>
                <div class="glyphicon glyphicon-briefcase personalInfoGlyphs">&nbsp;Work: @Model.User.Work</div>
                <div class="glyphicon glyphicon-envelope personalInfoGlyphs">&nbsp;School: @Model.User.School</div>
                <div class="glyphicon glyphicon-home personalInfoGlyphs">&nbsp;Address: @Model.User.Address</div>
            </div>
            <div id="addFriendButton">
                @{
                    if (Model.User.UserId != User.Identity.GetUserId())
                    {
                        var context = new ApplicationDbContext();
                        var userService = new UserService(context);
                        var listOfFriends = userService.GetFriendsFromUser(User.Identity.GetUserId());
                        var notification = userService.GetIfFriendRequestIsPending(User.Identity.GetUserId(), Model.User.UserId);
                        if (notification != null)
                        {
                            <button type="button" class="btn">Pending</button>
                        }
                        else if (listOfFriends.Contains(@Model.User.UserId))
                        {
                            using (Html.BeginForm("Remove", "Friend"))
                            {
                                <input type="hidden" name="userId" value="@User.Identity.GetUserId()" />
                                <input type="hidden" name="friendId" value="@Model.User.UserId" />
                                <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-minus"></span>&nbsp;Remove friend</button>
                            }
                        }
                        else
                        {
                            using (Html.BeginForm("Add", "Friend"))
                            {
                                <input type="hidden" name="userId" value="@User.Identity.GetUserId()" />
                                <input type="hidden" name="friendId" value="@Model.User.UserId" />
                                <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>&nbsp;Add friend</button>
                            }
                        }
                    }
                }
                
            </div>
        </div>
    </div>
    
    <div id="profileborder"></div>

    {
        Html.RenderPartial("PostsPartial", Model.Posts);
    }
}
else
{
    <h1 id="loginSignUpMessage">
        Please log in or sign up to access Profile.
    </h1>
}
