@model ConnectIn.Models.ViewModels.GroupDetailViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>@Model.Name</h2>

@using (Html.BeginForm("Edit", "Group"))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Edit group</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.GroupId)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input required type="text" name="nameofgroup" value="@Model.Name" style="position: absolute; top: 5px;"/>
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <p class="text-danger" style="position: relative; left: 126px;">Select members you want to remove from the group:</p>

        <div class="form-group" style="position: relative; left: 191px;">
            @using (Html.BeginForm("Edit", "Group"))
            {
                foreach (var member in Model.Members)
                {
                    <div class="checkbox">
                        <label style="font-size: 15px;"><input type="checkbox" value="@member.UserId" name="toBeDeleted">@member.Name</label>
                    </div>
                }
            }
        </div>
        <input type="hidden" value="@Model.GroupId" name="grpId"/>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-success" style="float: left;"/>
            </div>
        </div>
    </div>
}

<div>
    <button type="button" class="btn btn-default" onclick="javascript:history.go(-1);">Back to group page</button>
</div>
