@model ConnectIn.Models.Entity.Group

@{
    ViewBag.Title = "GroupDetails";
}

<h2>@Model.Name</h2>

<div>
    <h4>Group</h4>
</div>
<div class="well" id="membersDiv">
    <table class="table table-hover table-striped">
        <tr>
            <td>Name</td>
            <td>Birthday</td>
            <td>E-mail</td>
        </tr>
        @foreach (var member in Model.Members)
        {
            <tr>
                <td>@member.User.Name</td>
                <td>@member.User.Birthday</td>
                <td>@member.User.Email</td>
            </tr>
        }
        
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GroupId }) |
    @Html.ActionLink("Back to List", "GroupsList")
</p>
