@using Microsoft.AspNet.Identity
@model ConnectIn.Models.ViewModels.GroupDetailViewModel

@{
    ViewBag.Title = "GroupDetails";
}

<h1 style="text-align: center;">@Model.Name</h1>

<div class="well" id="membersDiv" style="display: inline-block; OVERFLOW-Y: scroll; WIDTH: 72%; HEIGHT: 262px;">
    <table class="table table-striped">
        <thead>
            <div style="float: left; font-weight: bold;">
                <h2>Members:</h2>
            </div>
            <tr>
                <th>Name</th>
                <th>Birthday:</th>
                <th>Email:</th>
            </tr>
        </thead>
        <tbody id="membersinGroup">
            @foreach (var member in Model.Members)
            {
                var birth = member.Birthday;
                var date = birth.Day + "." + birth.Month + "." + birth.Year;
                <tr>
                    <td><a href="/Home/Profile?id=@member.UserId">@member.Name</a></td>
                    <td>@date</td>
                    <td>@member.UserName</td>
                </tr>
            }
        </tbody>
    </table>
</div>


<div class="well" style="display: inline-block; float: right; width: 25%">
    <h4>Add friends to group</h4>
    <div style="OVERFLOW-Y: scroll; WIDTH: 100%; HEIGHT: 150px;">

        @foreach (var id in Model.FriendsOfUser)
        {
            <div id="groupCheck-@id.UserId">
                <span class="checkbox">
                    <label><input class="groupcheck" type="checkbox" value="@id.UserId" name="newFriendsInGroup">@id.Name</label>
                </span>
            </div>
        }

    </div>

        <input type="hidden" name="idOfGroup" value="@Model.GroupId"/>
        <button type="submit" id="addfriendstogroup" class="btn btn-success addMembersToGroup"><span class="glyphicon glyphicon-plus-sign" style="position: relative; top: 2px"></span>&nbsp;Add to group</button>
    
</div>
<div>
    <div class="NewsFeedContainer">
        <div class="form-horizontal" style="margin-top: 35px; margin-bottom: 20px;">
            <input type="hidden" name="idOfGroup" value="@Model.GroupId" />
            <div class="PostPartialViewPhoto">
                <a href="/Home/Profile/@User.Identity.GetUserId()"><img class="PartialViewResponsive img-rounded" src="@Url.Content(Model.User.ProfilePicture)" alt="Profile Picture" /></a>
            </div>
            <textarea placeholder="Share something with your group" class="form-control" rows="5" id="newsfeedstatus" name="status"></textarea>
            <button type="submit" id="submitNewsFeedStatus" class="btn btn-primary">Share</button>
        </div>
    </div>
</div>
<br/>
<br/>
<hr/>
<br/>

@{
    Html.RenderPartial("~/Views/Home/PostsPartial.cshtml", Model.Posts);
}


<span style="float: left; position: relative; left: 10px;">
    @if (User.Identity.GetUserId() == Model.AdminId)
    {
        using (Html.BeginForm("Edit", "Group", FormMethod.Get))
        {
            <input type="hidden" name="groupId" value="@Model.GroupId"/>
            <button type="submit" id="submitgroupId" class="btn btn-warning" style="display: inline;">Edit group</button>
        }
    }
</span>
<span style="float: left;">
    @using (Html.BeginForm("GroupsList", "Group", FormMethod.Get))
    {
        <button type="submit" class="btn btn-default" style="position: relative; left: 21px;">Back to list</button>
    }
</span>
@if (User.Identity.GetUserId() != Model.AdminId)
{
    <span style="float: right;">
        @using (Html.BeginForm("LeaveGroup", "Group"))
        {
            <input type="hidden" value="@User.Identity.GetUserId()" name="userID" />
            <input type="hidden" value="@Model.GroupId" name="groupID" />

            <button type="submit" class="btn btn-danger">Leave group</button>
        }
    </span>
}
else {
    <span style="float: right;">
        @using (Html.BeginForm("DeleteGroup", "Group"))
        {
            <input type="hidden" value="@User.Identity.GetUserId()" name="userID" />
            <input type="hidden" value="@Model.GroupId" name="groupID" />

            <button type="submit" class="btn btn-danger">Delete group</button>
        }
    </span>
}
<br/>
<br/>
