@model ConnectIn.Models.ViewModels.GroupDetailViewModel

@{
    ViewBag.Title = "GroupDetails";
}

<h2>@Model.Name</h2>

<div>
    <h4>Members:</h4>
</div>
<div class="well" id="membersDiv">
    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Birthday:</th>
            <th>Username:</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var member in Model.Users)
        {
            <tr>
                <td>@Html.ActionLink(member.Name, "GetUser", new {Id = member.UserId})</td>
                <td>@member.Birthday</td>
                <td>@member.UserName</td>
            </tr>
        }
        </tbody>

    </table>
</div>




<div>
    @using (Html.BeginForm("AddPost", "Status"))
    {
        <div class="form-horizontal">
            <!--Notifies the StatusController that the post comes from a Group:-->
            <input type="hidden" name="location" value="group"/>
            <input type="hidden" name="idOfGroup" value="@Model.GroupId"/>
            <textarea placeholder="Share your thoughts" class="form-control" rows="5" id="newsfeedstatus" name="status" style="max-width: 100%; display: inline"></textarea>
            <button type="submit" id="submitstatus" class="btn btn-primary" style="float: right; margin-top: 10px;">Submit</button>
        </div>
        @Html.ValidationSummary(false)
    }
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GroupId }) |
    @Html.ActionLink("Back to List", "GroupsList")
</p>
