@model ConnectIn.Models.ViewModels.GroupDetailViewModel

@{
    ViewBag.Title = "GroupDetails";
}

<h1 style="text-align: center;">@Model.Name</h1>

    <div class="well" id="membersDiv">
        <table class="table table-striped">
            <thead>
            <caption style="float: left; font-weight: bold;">
                <h2>Members:</h2></caption>
            <tr>
                <th>Name</th>
                <th>Birthday:</th>
                <th>Username:</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var member in Model.Members)
            {
                <tr>
                    <td>@Html.ActionLink(member.Name, "GetUser", new {Id = member.UserId})</td>
                    <td>@member.Birthday</td>
                    <td>@member.UserName</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
<div class="well">
    <h4>Add friends to group</h4>
    <div style="OVERFLOW-Y: scroll; WIDTH: 100%; HEIGHT: 150px">
        <div>asdf</div>
        <div>asdf</div>
        <div>asdf</div>
        <div>asdf</div>
        <div>asdf</div>
        <div>asdf</div>
        <div>asdf</div>
        <div>asdf</div>
        <div>asdf</div>
        <div>asdf</div>
        <div>asdf</div>
        <div>asdf</div>
        <div>asdf</div>
        <div>asdf</div>
        <div>asdf</div>
        <div>asdf</div>
    </div>
</div>

<div>
    @using (Html.BeginForm("AddPost", "Status"))
    {
        <div class="form-horizontal">
            <!--Notifies the StatusController that the post comes from a Group:-->
            <input type="hidden" name="location" value="group"/>
            <input type="hidden" name="idOfGroup" value="@Model.GroupId"/>
            <textarea placeholder="Share something with your group" class="form-control" rows="5" id="newsfeedstatus" name="status" style="max-width: 100%; display: inline"></textarea>
            <button type="submit" id="submitstatus" class="btn btn-primary" style="float: right; margin-top: 10px;">Submit</button>
        </div>
        @Html.ValidationSummary(false)
    }
</div>

<hr/>

@{
    Html.RenderPartial("~/Views/Home/PostsPartial.cshtml", Model.Posts);
}



<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GroupId }) |
    @Html.ActionLink("Back to List", "GroupsList")
</p>
