@using ConnectIn.DAL
@using ConnectIn.Services
@using Microsoft.AspNet.Identity
@model ConnectIn.Models.ViewModels.PhotoAlbumViewModel

@{
    ViewBag.Title = "Images";
}
@{
    var db = new ApplicationDbContext();
    var userService = new UserService(db);
    var user = userService.GetUserById(Model.UserId);
    var friendShip = userService.GetFriendShip(User.Identity.GetUserId(), user.Id);
}
@if (user.Id == User.Identity.GetUserId() || user.Privacy == 0 || (user.Privacy == 1 && friendShip != null) || (user.Privacy == 2 && userService.FriendConsidersUserClose(user.Id, User.Identity.GetUserId())))
{
    <h2>Images</h2>

    <input type="hidden" id="currentVisitingProfileId" value="@Model.UserId.ToString()" />
    <input type="hidden" id="userLoggedInId" value="@User.Identity.GetUserId().ToString()" />

    <div class="photoContainer">
        <h3>Profile Photos</h3>
        <div class="container profileCoverDivider">
            <div class="row" id="profilePhotoContainer">
                @foreach (var item in Model.ProfilePhotos)
                {
                    <div class="col-xs-6 col-sm-4 col-md-3 profilePhotoThumbnails">
                        <span id="@item.PhotoId" class="thumbnail fakeLink thumbnail-photo">
                            <img src="@item.PhotoPath" class="profilePhotos" alt="userPhoto" />
                        </span>
                    </div>
                }
            </div>
            @if (Model.UserId == User.Identity.GetUserId())
            {
                <div class="btnUpload">
                    @using (Html.BeginForm("UploadProfilePhoto", "Photo", FormMethod.Get))
                    {
                        <button type="submit" class="btn btn-primary">Upload Profile Photo</button>
                    }
                </div>

                <div class="btnProfile">
                    @using (Html.BeginForm("PickProfilePicture", "Photo", FormMethod.Post))
                    {
                        <input type="hidden" name="photoId" value="PUT PHOTOID"/>
                        <button type="submit" id="pickProfilePhoto" class="btn btn-primary">Pick as Profile Photo</button>
                    }
                </div>
                <div class="btnDelete">
                    <input type="hidden" name="photoId" value="PUT PHOTOID"/>
                    <button type="button" id="deleteProfilePhoto" class="btn btn-danger">Delete Profile Photo</button>
                </div>
            }
                    </div>

                    <h3>Cover Photos</h3>
                    <div class="container">
                        <div class="row" id="coverPhotoContainer">
                            @foreach (var item in Model.CoverPhotos)
                {
                                <div class="col-xs-6 col-sm-4 col-md-3 coverPhotoThumbnails">
                                    <span id="@item.PhotoId" class="thumbnail fakeLink thumbnail-photo">
                                        <img src="@item.PhotoPath" class="coverPhotos" alt="userPhoto" />
                                    </span>
                                </div>
                }
                        </div>


                        @if (Model.UserId == User.Identity.GetUserId())
            {
                            <div class="btnUpload">
                                @using (Html.BeginForm("UploadCoverPhoto", "Photo", FormMethod.Get))
                    {
                                    <button type="submit" class="btn btn-primary">Upload Cover Photo</button>
                    }
                            </div>
                            <div class="btnCover">
                                @using (Html.BeginForm("PickCoverPhoto", "Photo", FormMethod.Post))
                    {
                                    <input type="hidden" name="photoId" value="PUT PHOTO" />
                                    <button type="submit" id="pickCoverPhoto" class="btn btn-primary">Pick as Cover Photo</button>
                    }
                            </div>
                            <div class="btnDelete">
                                <input type="hidden" name="photoId" value="PUT PHOTOID" />
                                <button type="button" id="deleteCoverPhoto" class="btn btn-danger">Delete Cover Photo</button>
                            </div>
            }
                    </div>

                </div>
                }
                else
                {
                <h2 class="danger">You don't have the authority to view this user's images</h2>
                }
