@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="@Url.Content("~/icon.ico")" />
    <title>Connectin</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>  
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    

    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink(" ", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>
            @if (Request.IsAuthenticated)
            {
                <li>@Html.ActionLink(@String.Format("Hello, {0}", User.Identity.GetUserName().Substring(0, (User.Identity.GetUserName().IndexOf('@') == -1 ? User.Identity.GetUserName().Length : User.Identity.GetUserName().IndexOf('@')))), "Profile", "Home", new {id = @User.Identity.GetUserId()}, null)</li>
            }
        </ul>
    </div>
    
        </div>
        <div class="navbar-collapse collapse">

            <ul class="nav navbar-nav navbar-right">
                @if (Request.IsAuthenticated)
                {
                    <li>@Html.ActionLink("Home", "NewsFeed", "Home")</li>
                    <li>@Html.ActionLink("Profile", "Profile", "Home", new {id = @User.Identity.GetUserId()}, null)</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="caret"></span></a>
                        <ul class="dropdown-menu nav sidebar-nav" role="menu">
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Settings", "Manage", "Account")</li>
                            <li>@Html.Partial("_LoginPartial")</li>
                        </ul>
                    </li>
                }
                else
                {
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.Partial("_LoginPartial")</li>
                }
            </ul>

        </div>
        </div>
    </div>

@if (Request.IsAuthenticated)
{ 
    <style>
        body {padding-left: 280px;}
    </style>
    <div class="sidebar">
        <div id="wrapper">

            <!-- Sidebar -->

            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li>
                        <a href="#"><span class="glyphicon glyphicon-align-left sidebarGlyphs"></span></a>
                        @Html.ActionLink("News Feed", "NewsFeed", "Home")
                    </li>
                    <li>
                        <a href="#"><span class="glyphicon glyphicon-user sidebarGlyphs"></span></a>
                        @Html.ActionLink("Friends", "FriendsList", "Home")
                    </li>
                    <li>
                        <a href="#"><span class="glyphicon glyphicon-glass sidebarGlyphs"></span></a>
                        @Html.ActionLink("Groups", "GroupsList", "Group")
                    </li>
                    <li>
                        <a href="#"><span class="glyphicon glyphicon-gift sidebarGlyphs"></span></a>
                        @Html.ActionLink("Birthdays", "Birthdays", "Home")
                    </li>
                    <li>
                        <a href="#"><span class="glyphicon glyphicon-bell sidebarGlyphs"></span></a>
                        @Html.ActionLink("Notifications", "Notifications", "Home")
                    </li>
                    <li>

                        @using (Html.BeginForm("Search", "Home"))
                        {
                            <div class="form-horizontal">
                                <input type="text" placeholder="Search..." class="search-form-control" name="status" style="max-width: 100%; display: inline"/>
                                <button type="submit" id="submitstatus" class="btn btn-primary" style="float: right; margin-top: 10px; display: none;"></button>
                            </div>
                        }
                    </li>
                </ul>
            </div>
            <!-- /#sidebar-wrapper -->
        </div>
    </div>
}

    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="container body-content">
                        @RenderBody()
                        <hr />
                        <footer>
                            <p>&copy; @DateTime.Now.Year - ConnectIn</p>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/myScript.js"></script>

</body>
</html>
