@model ConnectIn.Models.ViewModels.UserViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit your account</h2>


@using (Html.BeginForm("Edit", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="container">
        <div class="col-md-10">
            <hr />
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.UserId)
            <div class="form-group">
                @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", maxLength = 30 })
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>
            <div class="form-group ">
                @Html.LabelFor(model => model.Gender, new { @class = "control-label col-md-2" })
                <div id="forerror" class="btn-group col-md-10 " data-toggle="buttons">
                    <label class="btn btn-primary">
                        <span>Male</span>
                        @Html.RadioButtonFor(model => model.Gender, "Male", true)
                        &nbsp;
                    </label>
                    <label class="btn btn-primary">
                        <span>Female</span>
                        @Html.RadioButtonFor(model => model.Gender, "Female", false)
                    </label>
                    <span id="error2">@Html.ValidationMessageFor(model => model.Gender)</span>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Work, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Work, new { @class = "form-control", maxLength = 30 })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.School, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.School, new { @class = "form-control", maxLength = 30 })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Address, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Address, new { @class = "form-control", maxLength = 30 })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default"/>
                    <a href="javascript:history.back()" class="btn btn-default">Cancel</a>

                </div>
            </div>
        </div>
    </div>
}

<div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
